:root {
    --primary-color: #001197b5;
    --secondary-color: rgb(212, 212, 212);
    --tertiary-color: #d8ecffb5;;
}

html,
body {
    height: 100%;  
}

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    background-color: var(--tertiary-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Serif", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.main {
    padding: 35px;
    flex: 1;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 50px 35px;
}
.menu__group {
    display: flex;
    flex-direction: column;
}

.menu__link {
    text-decoration: none;
    font-size: 26px;
    font-weight: 500;
    color: #a2a;
    padding: 10px;
}

.menu__link--small {
    font-size: 20px;  
    font-weight: 400;
}

.menu__link:hover {
    border-radius: 5px;
    background-color: #a2a;
    color: white;
}

.foreword {
    text-align: center;
}

.foreword__title {
    color: var(--primary-color);
    font-size: 60px;
}

.foreword__image {
    display: block;
    max-width: 100%;
    opacity: 90%;
    margin: 100px auto 50px auto;
}

.page__title {
    color: var(--primary-color);
    font-size: 50px;
}

.page__definition {
    font-size: 20px;
}

.highlight {
    font-weight: 700;
}

.foreword__subtitle {
    color: var(--primary-color);
}
.page__subtitle {
    color: var(--primary-color);
    margin-top: 35px;
}

.table {
    background-color: #bad4f0;
}
.table td {
    padding: 15px 25px 15px 15px;
}

.table--minor td{
    padding: 0 25px 0 0;
}

.arrow {
    width: 70px;
}

.list--nostyle {
    list-style: none;
}

.list {
    display: flex;
    align-items: center;
}

.list__item {
    margin: 0 20px 0 20px;
}

.footer {
    background-color: rgb(212, 212, 212);
    padding: 25px;
    text-align: center;
    margin: 50px 0 0 0;
}
.footer__link {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.example {
    margin-left: 35px;
    font-weight: 600;
}

.responsive__one,
.responsive__two {
    border: solid 2px var(--primary-color);
    padding: 50px;
    margin: 10px 0;
    font-size: 26px;
    background-color: #bad4f0;
}

.image__box {
    height: 150px;
    border: solid 2px var(--primary-color);
}

.ilustration {
    margin-bottom: 50px;
}

@media screen and (min-width: 1000px) {
    .main {
        padding: 50px;
    }
    .menu {
        margin: 50px;
    }
    .menu__group {
        flex-direction: row;
        align-items: center;
    }
    .menu__link {
        margin-right: 25px;
    }

    .responsive__box {
        display: flex;
        justify-content: space-evenly;
    }
    .responsive__one,
    .responsive__two {
        padding: 120px 150px;
        font-size: 40px;
        background-color: rgb(245, 149, 245);
        border: solid 50px violet;
        margin-right: 10px;
    }
    .ilustration {
        display: flex;
        align-items: center;
    }
}